#navigation {
	border: double black 1px;

	padding-left: 10px;
	padding-right: 10px;

	
	float: left;
}

#navigation ol {
}

#navigation p {
	font-weight: bold;
}

.section {

	padding-left: 10px;
	margin-left: 20px;
}
